.menu-bar {
  display: flex;
  width: 60%;
  transform: translate(40%);
  justify-content: space-between;
  background-color: white;
}
.menu-bar .menu-bar-logo {
  width: 35%;
}
.menu-bar .menu-bar-menu {
  width: 65%;
}
.menu-bar .menu-bar-menu .menu-bar-ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  cursor: pointer;
}
.menu-bar .menu-bar-menu .menu-bar-ul .menu-bar-li:hover {
  color: yellow;
}
